body {
    color: #333333;
    background-color: #f5f5f5;
}

a {
    color: #0000ee;
}

a:visited {
    color: #551a8b;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #cccccc;
        background-color: #121212;
    }

    a {
        color: #00aaff;
    }

    a:visited {
        color: #bb86fc;
    }
}
