body {
    color: #000;
    background-color: #fff;
}

a {
    color: #0000ee;
}

a:visited {
    color: #551a8b;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #fff;
        background-color: #000;
    }

    a {
        color: #00aaff;
    }

    a:visited {
        color: #bb86fc;
    }
}
